<div class="parent">
  <h3>Сведения о застрахованных лицах</h3>
  <form
    [formGroup]="szvmform"
    novalidate
    (ngSubmit)="validateForm()"
    (change)="formValueChanged()"
  >
    <div formGroupName="Strakhovatel" class="block">
      <div>1. Реквизиты страхователя (заполняются обязательно):</div>
      <div>
        <label>Регистрационный номер в ПФР</label>
        <input
          class="form-control"
          name="RegNomer"
          id="RegNomer"
          placeholder="000-000-000000"
          formControlName="RegNomer"
          (focus)="focusRegNomer($event.target)"
          (blur)="blurRegNomer($event.target)"
        />
      </div>
      <div>
        <label>Наименование (краткое)</label>
        <input
          class="form-control"
          name="NaimenovanieKratkoe"
          id="NaimenovanieKratkoe"
          placeholder="Наименование краткое"
          formControlName="NaimenovanieKratkoe"
        />
      </div>
      <div>
        <label>ИНН</label>
        <input
          class="form-control"
          name="INN"
          id="INN"
          formControlName="INN"
          placeholder="0000000000"
        />
        <label>КПП</label>
        <input
          class="form-control"
          name="KPP"
          id="KPP"
          formControlName="KPP"
          placeholder="000000000"
        />
      </div>
    </div>
    <div formGroupName="OtchetnyjPeriod" class="block">
      <div>
        2. Отчетный период
        <select
          class="form-control"
          name="Mesyats"
          id="Mesyats"
          formControlName="Mesyats"
        >
          <option value="1">январь</option>
          <option value="2">февраль</option>
          <option value="3">март</option>
          <option value="4">апрель</option>
          <option value="5">май</option>
          <option value="6">июнь</option>
          <option value="7">июль</option>
          <option value="8">август</option>
          <option value="9">сентябрь</option>
          <option value="10">октябрь</option>
          <option value="11">ноябрь</option>
          <option value="12">декабрь</option>
        </select>
        календарного года
        <input
          class="form-control"
          name="KalendarnyjGod"
          id="KalendarnyjGod"
          placeholder="Календарный год"
          formControlName="KalendarnyjGod"
        />
        (заполняется обязательно)
      </div>
    </div>
    <div class="block">
      <label>3. Тип формы (код)</label>
      <select class="form-control" name="TipFormy" formControlName="TipFormy">
        <option value="1">исходная</option>
        <option value="2">дополняющая</option>
        <option value="3">отменяющая</option>
      </select>
    </div>
    <div class="block">
      4. Сведения о застрахованных лицах:
      <table>
        <tr>
          <th>№</th>
          <th>ФИО</th>
          <th>СНИЛС</th>
          <th>ИНН</th>
        </tr>
        <tbody formArrayName="SpisokZL">
          <tr
            *ngFor="
              let obj of szvmform.controls.SpisokZL.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <td>
              <input
                type="text"
                class="form-control"
                id="NomerPP"
                name="NomerPP"
                formControlName="NomerPP"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control form-control-fio"
                name="FIO"
                id="FIO{{ i }}"
                placeholder="Фамилия, имя, отчество"
                formControlName="FIO"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control form-control-snils"
                name="SNILS"
                id="SNILS{{ i }}"
                placeholder="000-000-000 00"
                formControlName="SNILS"
                (focus)="focusSNILS($event.target)"
                (blur)="blurSNILS($event.target)"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control form-control-inn"
                name="INN"
                id="INN{{ i }}"
                placeholder="000000000000"
                formControlName="INN"
              />
            </td>
            <td>
              <input
                type="button"
                class="button-delete-row"
                value="&times;"
                (click)="deleteRow(i)"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <input
          type="button"
          class="button"
          value="Добавить строку"
          (click)="addRow()"
        />
      </div>
    </div>
    <div>
      Дата заполнения:<input
        class="form-control"
        name="DataZapolneniya"
        id="DataZapolneniya"
        formControlName="DataZapolneniya"
        placeholder="01.01.2000"
      />
    </div>
    <div>
      <input type="submit" class="button" value="Проверить" />
      <input
        type="button"
        class="button"
        (click)="saveToJSON()"
        [disabled]="szvmform.invalid || !this.formChecked"
        value="Сохранить"
      />
    </div>
  </form>
  <div id="check_results" class="block">
    <div *ngIf="szvmform.valid && formChecked && validationErrors.length == 0">
      Ошибок не обнаружено
    </div>
    <div *ngFor="let errorItem of validationErrors">
      <div>
        {{ errorItem.error }}&nbsp;<a
          href="#"
          (click)="setFocus(errorItem.controlname + errorItem.parentIndex)"
          >Перейти к ошибке</a
        >
      </div>
    </div>
  </div>
  <div id="modal_container" class="modal_container" *ngIf="outputJSON">
    <div class="modal">
      <div class="modal_header">
        <div><b>Результат сохранения</b></div>
        <input
          type="button"
          class="button-close"
          (click)="outputJSON = ''"
          value="&times;"
        />
      </div>
      <div class="modal_content">
        <pre><code>{{ outputJSON }}</code></pre>
      </div>
    </div>
  </div>
</div>
